<div id="req-{{.Request_id}}" style="display: flex; width: 100%; height: 300px; overflow: hidden;">
  <div class="image">
      <img src="data:image/*;base64,{{.Photo}}" width="189" height="255" alt="lorem">
  </div>
  <div class="data">
      <h1>{{.Name}}</h1>
      <h1>{{.Surname}}</h1>
      <ul>
          <li>{{.Sex}}</li>
          <li>{{.Ethnicity}}</li>
          <li>{{.Citizenship}}</li>
          <li>{{.Purpose}}</li>
      </ul>
  </div>
  <div class="Buttons">
      <button hx-get="/requests/check?id={{.Request_id}}&result=approve"
              hx-swap="delete"
              hx-target="#req-{{.Request_id}}">
          Approve
      </button>
      <button hx-get="/requests/check?id={{.Request_id}}&result=reject"
              hx-swap="delete"
              hx-target="#req-{{.Request_id}}">
          Reject 
      </button>
  </div>
</div>
